In [3]:
import numpy as np
import re
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [4]:
df = pd.read_pickle("hamzah.pkl")

In [5]:
df.head()

,ID,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Day,Month,Year
0,11778851,2016-01-01,043XX S MOZART ST,OFFENSE INVOLVING CHILDREN,CRIM SEX ABUSE BY FAM MEMBER,RESIDENCE,0,1,922,9,15,58,1,1,2016
1,11768978,2016-01-01,088XX S MARSHFIELD AVE,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,APARTMENT,0,0,2221,22,21,71,1,1,2016
2,11845914,2016-01-01,027XX S WHIPPLE ST,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,0,1,1033,10,12,30,1,1,2016
3,11845531,2016-01-01,005XX E 89TH PL,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,APARTMENT,0,1,633,6,9,44,1,1,2016
4,11842829,2016-01-01,078XX S LOOMIS BLVD,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,0,0,612,6,17,71,1,1,2016